<div class="page-container">
  <mat-toolbar>
    <span class="title">EAW Planet Editor</span>
    <button mat-flat-button [color]="'primary'" (click)="planetsFilePicker.click()" class="spacing-right">
      Open Planets File
    </button>
    <input #planetsFilePicker [hidden]="true" [type]="'file'" [accept]="'.xml'" (change)="onPlanetsFileSelected($event)" />
    <button
      mat-flat-button
      class="spacing-right"
      [color]="'accent'"
      (click)="onExportFileClicked()"
      [disabled]="planetsService.planetFile.Planets.Planet.length < 1"
    >
      Export Planets File
    </button>
    <button mat-flat-button [color]="'primary'" (click)="settingsFileIPicker.click()" class="spacing-right">
      Import Settings
    </button>
    <input
      #settingsFileIPicker
      [hidden]="true"
      [type]="'file'"
      [accept]="'.json'"
      (change)="onSettingsFileSelected($event)"
    />
    <button mat-flat-button [color]="'primary'" (click)="onSaveSettingsClicked()">Save Settings</button>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label="Planets">
      <div class="tab-container">
        <mat-card><app-planets></app-planets> </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Exports and Lists">
      <div class="tab-container">
        <mat-card><app-exports-and-lists></app-exports-and-lists> </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Settings">
      <div class="tab-container">
        <mat-card>
          <app-configuration> </app-configuration>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Effects-Editor">
      <div class="tab-container">
        <mat-card>
          <app-effect-editor> </app-effect-editor>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Charts">
      <div class="tab-container">
        <ngx-charts-pie-chart
          [results]="[
            { name: 'hallo', value: 3 },
            { name: 'hallo2', value: 10 }
          ]"
          [labels]="true"
        ></ngx-charts-pie-chart>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
